@*
@page "/a" 
@using Blazored.LocalStorage
@using Suggestion.Shared.Model.ViewModel

@layout MainLayout
@inherits LoginModel
@inject ILocalStorageService _localStorage;

<WdHeader Heading="WordDaze" SubHeading="Please Enter Your Login Details"></WdHeader>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="editor">
                @if (ShowLoginFailed)
                {
                    <div class="alert alert-danger">
                        Login attempt failed.
                    </div>
                }
                @{
                 
                
                }
                <input type="text" @bind=@LoginParameters.Email placeholder="Email" class="form-control" />
                <input type="password" @bind=@LoginParameters.Password placeholder="Password" class="form-control" />
                <button class="btn btn-primary" @onclick="@Login">Login</button>
            </div>
        </div>
    </div>
</div>

*@